# python
*.pyc
__pycache__
.pip_progress
venv

# zwave
zw*.xml
OZW_Log.txt
options.xml

# homeassistant
*.db*
*.sqlite
*.gz
*.log
*.conf
*.uuid
*.pickle
.cloud
.storage
blueprints
core
data
deps
data
image
rtlamr2mqtt
tts
secrets.yaml
