# python
*.pyc
__pycache__
venv

# zwave
*zw*.*
OZW_Log.txt
options.xml

# homeassistant
*.db*
*.gz
*.log
*.conf
*.uuid
*.pickle
.storage
!.storage/lovelace
.homekit.state
tts
core
deps
secrets.yaml
known_devices.yaml
