# python
*.pyc
__pycache__

# homeassistant
*.db*
*.sqlite
*.gz
*.log*
*.conf
*.uuid
*.pickle
.cloud
.storage
blueprints
data
deps
data
image
tts
secrets.yaml

# rtlamr2mqtt
rtlamr2mqtt/

# nook-dash
www/nook-dash/
